{% load eb compress static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <link rel="stylesheet" href="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/components/core_base_user/resources/styles/styles.css?_dc=1339011661" />
        <link rel="stylesheet" href="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/global/resources/styles/_navigation/dropdown.css?_dc=1310757832" />
        <link rel="stylesheet" href="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/global/resources/styles/_navigation/dropdown.vertical.css?_dc=1310757832" />
        <link rel="stylesheet" href="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/global/resources/styles/_navigation/themes/default/default.css?_dc=1310757832" />
        <link rel="stylesheet" href="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/components/core_base_library/resources/styles/styles.css?_dc=1339061972" />
        <link rel="stylesheet" href="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/components/core_theme_palette/resources/styles/_switcher.css?_dc=1310757830" />
        <link rel="stylesheet" href="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/global/resources/styles/_site/site.css?_dc=1339009202" />
        <link rel="stylesheet" href="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/components/core_advertising/resources/styles/ads.min.css?_dc=1339011644" />

        <title>{% block title %}Whiteville.com: Local. News. Now.{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="noarchive">
        <link rel="home" title="Home" href="{% url ebpub-homepage %}">

        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}scripts/chosen.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/openblock.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/calendrical.css" />
        {% endcompress %}

        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/style.less" />
        <script src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>

        <script src="{{ JQUERY_URL }}" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}styles/smoothness/jquery-ui-1.8.17.custom.css" />

        <script type="text/javascript">
        // Not using jquery.noConflict() because ironically it causes a conflict
        // with OpenLayers and we end up with the $ function from OpenLayers.
        // But a lot of existing everyblock code expects $j instead of $
        var $j = $;
        </script>
        {% compress js %}
        <script src="{{ STATIC_URL }}scripts/ob-jquery-csrf.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}scripts/chosen.jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL}}scripts/jquery.calendrical.js"></script>
        <script src="{{ STATIC_URL}}scripts/json2.js"></script>
        {% endcompress %}

        <script src="{{ STATIC_URL }}scripts/jquery-ui-1.8.17.custom.min.js" type="text/javascript" charset="utf-8"></script>
        <!-- begin block extrahead -->
        {% block extrahead %}{% endblock %}
        <!-- end block extrahead -->
        <!-- Global TNCMS Ad Manager javascript files -->
        <script type="text/javascript" src="http://www.whiteville.com/shared-content/tncms-ad-manager/ads.js"></script>
        <script type="text/javascript" src="http://www.whiteville.com/shared-content/flowplayer/flashembed.min.js"></script>
        <script type="text/javascript" src="http://www.whiteville.com/shared-content/swfobject/swfobject.js"></script>
        <script type="text/javascript" src="http://www.whiteville.com/content/tncms/ads/tncms-ad-limits.js"></script>

        <!-- Ad Manager javascript code for position rail-top1 -->
        <script type="text/javascript" src="http://www.whiteville.com/content/tncms/ads/rail-top/rail-top1.js"></script>
    </head>


<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <div id="blox-html-container" class="venue-app ads-preview-false index front app-editorial depth-2 grid-300_5-3-4 url-default theme-zen">

        <div id="blox-wrapper" class="blox-transparency container_12">
            <div id="blox-header-vertical-nav" class="blox-transparency">


                <div id="new-header">
                    <div class="new-left">
                        <div class="tncms-region-ads blox-filled" id="tncms-region-ads-tile-header">

                        <a target="_blank" href="http://www.whiteville.com/tncms/ads/c65058422/frontpage/tile-header1/9/29/9291f766-688c-11e1-b1ea-001871e3ce6c/4f57bc31d9bec.image.jpg?r=http://www.crhealthcare.org/" rel="nofollow">
                            <img width="250" height="120" border="0" alt="CRHS Front Top" src="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/assets/v3/bannerad/9/29/9291f766-688c-11e1-b1ea-001871e3ce6c/4f57bc31d9bec.image.jpg?_dc=1331149873">
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                    <div class="new-center">
                        <div class="update">Updated:&nbsp;
                            <SCRIPT LANGUAGE="JavaScript">
                            <!-- Begin
                            d = new Array(
                            "Sunday",
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday",
                            "Saturday"
                            );
                            m = new Array(
                            "January",
                            "February",
                            "March",
                            "April",
                            "May",
                            "June",
                            "July",
                            "August",
                            "September",
                            "October",
                            "November",
                            "December"
                            );

                            today = new Date();
                            day = today.getDate();
                            year = today.getYear();

                            if (year < 2000)
                            year = year + 1900;

                            end = "th";
                            if (day==1 || day==21 || day==31) end="st";
                            if (day==2 || day==22) end="nd";
                            if (day==3 || day==23) end="rd";
                            day+=end;

                            document.write("");
                            document.write(d[today.getDay()]+": "+m[today.getMonth()]+" ");
                            document.write(day+", " + year);
                            document.write("");
                            // End -->
                            </script>
                        </div><br clear="all">

                    <h1 class="vcard blox-transparency"><a href="http://www.whiteville.com/" class="fn url org blox-transparency" rel="index">Whiteville.com: Local. News. Now.</a></h1>
                </div>

                <div class="new-right">
                    <ul id="social-list">
                        <li><a href="http://www.facebook.com/thenewsreporter" target="_blank"><img src="http://www.whiteville.com/content/tncms/live/global/resources/images/_site/facebook_icon.png"/></a></li>
                    </ul>
                    <div id="blox-header-search">
                        <a href="http://www.whiteville.com/search?t=article&amp;l=25&amp;d1=1+year+ago&amp;f=html&amp;advanced=true" class="advanced-search">Advanced Search</a>
                        <form id="blox-search-form" action="http://www.whiteville.com/search" method="get">
                            <div>
                                <input type="hidden" name="t" value="article" />
                                <!--<input type="hidden" name="s" value="start_time" />
                                <input type="hidden" name="sd" value="desc" />-->
                                <input type="hidden" name="d1" value="1 year ago" />
                                <input class="search-bar" type="text" name="q" value="" />
                                <input class="search-submit" type="submit" value="GO" />
                            </div>
                        </form>
                    </div>
                    <div class="top-right-one">
                        <div id="tncms-region-top-right-one" class="tncms-region ">
                            <div id="tncms-block-359167" class="tncms-block">
                                <div id="weather-bug">
                                    <div id="icon">
                                        <a href="http://www.whiteville.com/weather?zipcode=" title="Detailed Forecast" >
                                        <img class="blox-transparency" src="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/global/resources/images/weather_icons/icons_50x50/1.png?_dc=1310757833" alt="Clear" />
                                        <!--<span class="weather-icon w1"></span>-->
                                        </a>
                                    </div>
                                    <div id="temp"><a href="http://www.whiteville.com/weather?zipcode=" title="Detailed Forecast" >73&deg;</a></div>
                                    <div id="conditions"><a href="http://www.whiteville.com/weather?zipcode=" title="Detailed Forecast" >Clear</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="weather-sponsor">
                        <div id="tncms-region-ads-weather-sponsor" class="tncms-region-ads"></div>
                    </div>
                </div>
            </div>
        </div><br clear="all">
        <div id="top_box">
            <div class="city">Columbus County, North Carolina</div>
                <div class="icons">
                    <div class="icon_move"><a href="http://www.whiteville.com/ask_us/"><img src="http://www.whiteville.com/content/tncms/live/global/resources/images/_site/askus.png" border="0" /></a></div>
                    <div class="icon_move"><a href="http://www.whiteville.com/search/"><img src="http://www.whiteville.com/content/tncms/live/global/resources/images/_site/search.png" border="0" /></a></div>
                    <div class="icon_move"><a href="http://www.whiteville.com/civic-story/article_0728d8b4-7748-11e1-a631-001871e3ce6c.html"><img src="http://www.whiteville.com/content/tncms/live/global/resources/images/_site/civic.png" border="0"/></a></div>
                    <!--<div class="icon_move"><a href="http://walkwithjesuswhiteville.weebly.com/index.html" target="_blank"><img src="global/resources/images/_site/WWJ-Walk-With-Jesus-12.jpg" border="0"></a></div>--><!--<div class="icon_move"><a href="http://main.acsevents.org/site/TR?fr_id=40697&pg=entry" target="_blank"><img src="global/resources/images/_site/rflbutton12.gif" border="0"></a></div>-->
                    <div class="icon_move"><a href="http://www.whiteville.com/site/the_news_reporter_rack_locations.html" target="_blank"><img src="http://www.whiteville.com/content/tncms/live/global/resources/images/_site/racklocations.png" border="0" /></a></div>
                    <div class="icon_move"><a href="http://www.whiteville.com/v50/"><img src="http://www.whiteville.com/content/tncms/live/global/resources/images/_site/V50Button3.jpg" border="0" /></a></div>
                </div>
                <div class="right_paper">
                    <ul id="paper">
                        <li><a href="http://www.whiteville.com/site/about.html" class="paper_link">About Us</a></li>
                        <li><a href="http://www.whiteville.com/site/contact.html" class="paper_link">Contact Us</a></li>
                        <li><a href="http://www.whiteville.com/site/advertise.html" class="paper_link">Advertise</a></li>
                        <li><a href="http://www.whiteville.com/site/services/" class="paper_link">Subscribe</a></li>
                        <!-- <li><a href="http://www.whiteville.com/site/advertisers.html" class="paper_link">Advertisers</a></li> -->
                        <li><a href="http://www.whiteville.com/users/login/"class="paper_link">LOGIN</a></li>
                        <!-- <li><a href="http://www.facebook.com/thenewsreporter?ref=nf" class="paper_link"><img src="facebook_icon.jpg" height="20" width="20" border="0"></a></li> -->
                    </ul>
                </div>
            </div>
            <ul id="nav" class="dropdown dropdown-vertical">
                <li class="first-nav-link active-vertical"><a href="http://www.whiteville.com/" class="dir">Home</a>
                <ul>
                    <li><a href="javascript:void();" class="dir">e-Edition</a>
                        <ul>
                            <li><a href="http://www.whiteville.com/eedition/">The News Reporter</a></li>
                            <li><a href="http://www.whiteville.com/eedition_news_times/">The News Times</a></li>
                        </ul>
                    </li>
                    <li><a href="http://www.whiteville.com/site/about.html">About Us</a></li>
                    <li><a href="http://www.whiteville.com/site/contact.html">Contact Us</a></li>
                    <li><a href="http://www.whiteville.com/site/advertise.html">Advertise</a></li>
                    <li><a href="http://www.whiteville.com/site/services/">Subscription Services</a></li>
                    <li><a href="http://www.whiteville.com/site/forms/">Submission Forms</a></li>
                    <li><a href="http://www.whiteville.com/site/site_index/">Site Index</a></li>
                    <li><a href="http://www.whiteville.com/online_features/">Online Features</a></li>
                    <li><a href="http://www.whiteville.com/weather/">Local Weather</a></li>
                </ul>
                </li>

                <li class="inactive"><a href="http://www.whiteville.com/news/" class="dir">News</a>
                <ul>
                    <li><a href="http://www.whiteville.com/news/">News Home</a></li>
                    <li><a href="http://www.whiteville.com/news/crimes_fires_wrecks/">Crimes/Fires/Wrecks</a></li>
                </ul>
                </li>

                <li class="inactive"><a href="http://www.whiteville.com/sportsorts/" class="dir">Sports</a>
                    <ul>
            <!--        <li class="dir"><a href="http://www.whiteville.com/sportsorts/">Sports of All Sorts</a>
                        <ul>
                            <li><a href="http://www.whiteville.com/sportsorts/blogs">Blogs</a></li>
                            <li><a href="http://www.whiteville.com/sportsorts/scoreboard/">Scoreboard</a></li>
                            <li><a href="http://www.whiteville.com/sportsorts/sports_calendar/">Sports calendar</a></li>
                            <li><a href="http://www.whiteville.com/sportsorts/team_of_the_week/">Team of the week</a></li>
                            <li><a href="http://www.whiteville.com/sportsorts/teams_rosters/">Teams &amp; rosters</a></li>
                            <li><a href="http://www.whiteville.com/sportsorts/video_blogs/">Video blogs</a></li>
                        </ul>
                        </li>
            -->
                        <li><a href="http://www.whiteville.com/sportsorts/">Sports of all sorts</a></li>
                        <li><a href="http://www.whiteville.com/sports/echs/">ECHS</a></li>
                        <li><a href="http://www.whiteville.com/sports/schs/">SCHS</a></li>
                        <li><a href="http://www.whiteville.com/sports/wchs/">WCHS</a></li>
                        <li><a href="http://www.whiteville.com/sports/whs/">WHS</a></li>
                        <li><a href="http://www.whiteville.com/sports/scc/">SCC</a></li>
                        <li><a href="http://www.whiteville.com/sports/youth/">Youth</a></li>
                        <li><a href="http://www.whiteville.com/sports/baseball/">Baseball</a></li>
                        <li><a href="http://www.whiteville.com/sports/basketball/">Basketball</a></li>
                        <li><a href="http://www.whiteville.com/sports/football/">Football</a></li>
                        <li><a href="http://www.whiteville.com/sports/softball/">Softball</a></li>
                        <li><a href="http://www.whiteville.com/sports/soccer/">Soccer</a></li>
                        <li><a href="http://www.whiteville.com/sports/tennis/">Tennis</a></li>
                        <li><a href="http://www.whiteville.com/sports/nascar/">NASCAR</a></li>
                        <li><a href="http://www.whiteville.com/sports/dixie_youth_sports/">Dixie Baseball/Softball</a></li>

                    </ul>
                </li>

                <li class="inactive"><a href="http://www.whiteville.com/lifestyles/" class="dir">Lifestyles</a>
                    <ul>
                        <li><a href="http://www.whiteville.com/lifestyles/">Lifestyles Home</a></li>
                        <li><a href="http://www.whiteville.com/lifestyles/weddings/">Weddings</a></li>
                        <li><a href="http://www.whiteville.com/lifestyles/engagements/">Engagements</a></li>
                        <li><a href="http://www.whiteville.com/lifestyles/births/">Births</a></li>
                        <li><a href="http://www.whiteville.com/lifestyles/anniversaries/">Anniversaries</a></li>
                    </ul>
                </li>

                <li class="inactive"><a href="http://www.whiteville.com/business/" class="dir">Business</a>
                    <ul>
                        <li><a href="http://www.whiteville.com/business/">Business Home</a></li>
                        <li><a href="http://www.whiteville.com/business/restaurant_directory/">Restaurant Directory</a></li>
                    </ul>
                </li>

                <li class="inactive"><a href="http://www.whiteville.com/editorial/" class="dir">Editorial</a>
                    <ul>
                        <li><a href="http://www.whiteville.com/editorial/">Editorial Home</a></li>
                        <li><a href="http://www.whiteville.com/editorial/columns/">Columns</a></li>
                        <li><a href="http://www.whiteville.com/editorial/">Editorials</a></li>
                     </ul>
                </li>

                <li class="inactive"><a href="http://www.whiteville.com/obituaries/" class="dir2">Obituaries</a></li>

                <li class="inactive"><a href="http://www.whiteville.com/multimedia/" class="dir">Multimedia</a>
                    <ul>
                        <li><a href="http://whiteville.mycapture.com/mycapture/index.asp" target="_blank">Photo Gallery</a></li>
                        <li><a href="http://www.whiteville.com/multimedia/videos/">Local Videos</a></li>
                        <li><a href="https://whiteville-dot-com.bloxcms.com/site/forms/online_services/submit_news/">Submit Reader Photo</a></li>
                    </ul>
                </li>

                <li class="inactive"><a href="javascript:void();" class="dir">E-editions</a>
                    <ul>
                        <li><a href="http://www.whiteville.com/eedition/">The News Reporter</a></li>
                        <li><a href="http://www.whiteville.com/eedition_news_times/">The News Times</a></li>
                    </ul>
                </li>

                <li class="inactive"><a href="http://www.whiteville.com/special/" class="dir">Special Sections</a>
                    <ul>
                        <li><a href="http://www.whiteville.com/special/">Special Sections home</a></li>
                        <li><a href="http://www.whiteville.com/special/tv_schedule/">TV schedule</a></li>
                    </ul>
                </li>

                <li class="inactive"><a href="http://www.calendarwiz.com/nrcommunitycalendar" target="_blank" class="dir2">Calendar</a></li>

                <li class="last-nav-link nav-secondary-vertical last new"><span class="new3"><a href="http://www.whiteville.com/didyob/" class="dir2">DIDYOB?</a> </span></li>

                <li class="nav-secondary-vertical"><a href="http://www.whiteville.com/classifieds/" class="dir">Classifieds</a>
                    <ul>
                        <li ><a href="http://www.whiteville.com/classifieds/">Classifieds home</a></li>
                        <li ><a href="https://secure.townnews.com/shared-content/adowl/front-end.php?domain=wh-www2.whiteville.com&instance=adowl&ui=peekaboo" target="_blank">Place an ad</a></li>
                        <li  class="dir"><a href="http://www.whiteville.com/classifieds/housing/">Real Estate</a>
                            <ul>
                                <li><a href="http://www.whiteville.com/classifieds/housing/sale/">Sales</a></li>
                                <li><a href="http://www.whiteville.com/classifieds/housing/rent/">Rentals</a></li>
                            </ul>
                        </li>
                        <li ><a href="http://www.whiteville.com/classifieds/vehicle/">Cars</a></li>
                        <li ><a href="http://www.whiteville.com/classifieds/job/">Jobs</a></li>
                        <li ><a href="http://www.whiteville.com/classifieds/community/announcements/legal/">Legals</a></li>

                        <li ><a href="http://www.whiteville.com/classifieds/sale/pet/">Pets</a></li>
                        <li ><a href="http://www.whiteville.com/classifieds/sale/">Merchandise</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clear"></div>

            <div id="blox-container" class="content container_12">
                <!-- begin block breadcrumbs -->
                {% block breadcrumbs %}
                    {% include "db/snippets/breadcrumbs.html" %}
                {% endblock breadcrumbs %}
                <!-- end block breadcrumbs -->
                <!-- This where the content starts -->
                <div id="blox-left-col" class="grid_8">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
                 <div id="blox-right-col" class="grid_4">
                    {% block right_nav %}
                    <!-- Ad Manager call to display ads for position rail-top1 -->
                    <script language='javascript'>oTNCMS_Ad.show('government');</script>
                    {% endblock %}
                </div>
            </div>

            <!-- This where the footer starts -->

            <div id="leaderboard-bottom">
               <div id="tncms-region-ads-leaderboard-bottom" class="tncms-region-ads">
                    <script type="text/javascript" src="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/ads/leaderboard-bottom/leaderboard-bottom1.js?_dc=1331319405"></script>
                    <script type="text/javascript">oTNCMS_Ad.show();
                    </script>
                </div>
                <div id="tncms-region-ads-tile-bottom" class="tncms-region-ads"></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="video-ad" style="display:none">
           <div id="tncms-region-ads-video-ad" class="tncms-region-ads"></div>
        </div>
        <div class="clear"></div>

        <div id="blox-footer">
    <!--bottom-block-holder start-->
    <div class="blox-bottom-block-holder">
        <div class="footer-section-block start">
            <h4>Sections</h4>
            <ul>
                <li><a href="http://www.whiteville.com/">Home</a></li>
                <li><a href="http://www.whiteville.com/news/">News</a></li>
                <li><a href="http://www.whiteville.com/sports/">Sports</a></li>
                <li><a href="http://www.whiteville.com/lifestyles/">Lifestyles</a></li>
                <li><a href="http://www.whiteville.com/business/">Business</a></li>
                <li><a href="http://www.whiteville.com/editorial/">Editorial</a></li>
                <li><a href="http://www.whiteville.com/obituaries/">Obituaries</a></li>
                <li><a href="http://www.whiteville.com/multimedia/">Multimedia</a></li>
                <li><a href="http://www.whiteville.com/classifieds/">Classifieds</a></li>
                <li><a href="http://www.whiteville.com/eedition/">E-editions</a></li>
                <li><a href="http://www.calendarwiz.com/nrcommunitycalendar" target="_blank">Calendar</a></li>
                <li><a href="http://www.whiteville.com/online_features/">Online Features</a></li>
                <li><a href="http://www.whiteville.com/weather/">Weather</a></li>
            </ul>
        </div>
        <div class="footer-section-block">
            <h4>Services</h4>
            <ul>
                <li><a href="http://www.whiteville.com/site/about.html">About Us</a></li>
                <li><a href="http://www.whiteville.com/site/contact.html">Contact Us</a></li>
                <li><a href="http://www.whiteville.com/site/advertise.html">Advertise</a></li>
                <li><a href="http://www.whiteville.com/site/services/">Subscription Services</a></li>
                <li><a href="http://www.whiteville.com/site/forms/">Submission Forms</a></li>
                <li><a href="http://www.whiteville.com/site/site_index/">Site Index</a></li>
                <li><a href="javascript:window.external.AddSearchProvider('http://www.whiteville.com/search/opensearch/generic.xml');" title="name_of_plugin" name="name_of_plugin">Add Search Toolbar</a></li>
            </ul>
        </div>
        <div class="footer-section-block contact">
        <h4>Contact us</h4>
            <p class="footer-logo"><a href="http://www.whiteville.com">whiteville.com</a></p>
                <p>The News Reporter<br />
                <strong>Phone number:</strong> (910)642-4104<br />
                <strong>E-mail:</strong> <a href="mailto:markgilchrist@whiteville.com">markgilchrist@whiteville.com</a><br />
                <strong>Address:</strong> 127 W. Columbus St.<br />
        Whiteville, NC 28472</p>
        </div>


        <div class="footer-section-block search end">
            <h4>Search</h4>
            <form id="footer-search" method="get" action="http://www.whiteville.com/search">
                <p>
                    <!--<input type="hidden" name="s" value="start_time" />
                    <input type="hidden" name="sd" value="desc" />-->
                    <input type="hidden" name="d1" value="1 year ago" />
                    <input class="search-bar" type="text" name="q" value="" />
                    <input class="search-submit" type="submit" value="Search" />
                </p>
                <p><label>Search in:</label></p>
                <div class="search-options">

        <div id="searchSectionsFooter">

            <input type="hidden" id="sectionCollectionFooter" value="" />
            <input type="hidden" id="typeCollectionFooter" value="" />
            <div class="col1">

                <input type="checkbox" class="all checked" value="all" checked="checked" />
                <label>All</label>
                <br />

                <input type="checkbox" class="section-box regular" value="news*" />
                <label>News</label>
                <br />

                <input type="checkbox" class="section-box regular" value="sports*" />
                <label>Sports</label>
                <br />

            </div>
            <div class="col2">

                <input type="checkbox" class="section-box regular" value="arts_and_entertainment*" />
                <label>A&amp;E</label>
                <br />

                <input type="checkbox" class="section-box regular" value="business*" />
                <label>Business</label>
                <br />

                <input type="checkbox" class="section-box regular" value="opinion*" />
                <label>Opinion</label>
                <br />

            </div>


            <div class="col3">

                <input type="checkbox" class="section-box regular" value="obituaries*" />
                <label>Obituaries</label>
                <br />

                <input type="checkbox" class="type-box regular" value="image" />
                <label>Photos</label>
                <br />

                <input type="checkbox" class="type-box regular" value="video,vmix,youtube" />
                <label>Video</label>
                <br />

            </div>
        </div>
        <div class="clear"></div>
    </div>
</form>
</div>
</div>
</div>
<div id="print-only-logo" style="display:none;">
    <img src="http://bloximages.chicago2.vip.townnews.com/whiteville.com/content/tncms/live/global/resources/images/print-logo.gif" />
</div>
<p class="copyright">
<strong>&copy; Copyright 2012, <a href="http://www.whiteville.com/">Whiteville.com</a>, Whiteville, NC</strong>. Powered by <a href="http://bloxcms.com" title="BLOX Content Management System" rel="external">BLOX Content Management System</a> from <a href="http://townnews.com" title="TownNews.com BLOX Newspaper Content Management" rel="external">TownNews.com</a>. [<a href="http://www.whiteville.com/site/terms.html">Terms of Use</a> | <a href="http://www.whiteville.com/site/privacy.html">Privacy Policy</a>]
</p>

</div>

</div>

</div>
</body>
</html>
