{% extends "base.html" %}

{% load eb openrural_tags %}

{% block title %}Streets{% if city %} in {{ city.name }}{% endif %}{% endblock %}

{% block body_id %}street-list{% endblock %}

{% block content %}
<div id="content">
	<h1>Streets{% if city %} in {{ city.name }}{% endif %}</h1>
	<p>Choose a street to find recent news near an individual
	block. You can also <a href="{% url ebpub-loc-type-list %}">browse by {% if example_loctype %}{{ example_loctype|lower }}{% else %}locations{% endif %}</a>.
	</p>
	<p class="other">Don't see the street you're looking for? Try <a href="{% url ebpub-search %}">searching</a> or <a href="#">notify the editor</a>.</p>
	{% regroup street_list by street_slug|upper|slice:":1" as alpha_list %}
    {% regroup_numbered_streets %}
    <b>Jump to streets that begin with:</b>
	{% get_alphabet_menu alpha_list %}
    {% for current_letter in alpha_list %}
		<h2>{{ current_letter.grouper }}</h2>
		<p class="menu" id="alpha_{{ current_letter.grouper|lower }}">
			<a class="top" href="#content">&uarr; Top</a>
		</p>
		{# break the lists up a bit to be easier on the eye. #}
		{% for street_bunch in current_letter.list|bunch:"20" %}
			<ul>
				{% for street in street_bunch %}
				<li><a href="{{ street.url }}">{{ street.pretty_name }}</a></li>
				{% endfor %}
			</ul>
		{% endfor %}
	{% endfor %}
</div><!--/content-->
{% endblock %}
