{% extends "db/newsitem_detail.html" %}

{% load eb humanize mapping eb_filter comments thumbnail openrural_tags %}

{% block body_id %}property-detail{% endblock %}

{% block newsitem_detail_location %}

<tr>
    <th>Location</th>
    <td>{% get_newsitem_full_address newsitem %}<br />
        {% if location_url %}
            <a href="{{ location_url }}">Click to view all recent news items near this property.</a>
        {% else %}
            This item could not be mapped.
        {% endif %}
    </td>
</tr>
{% endblock %}

<!-- block newsitem_detail_description -->{% block newsitem_detail_description %}
    <tr>
        <th>Photo</th>
        <td>
            {% comment %}
            The sorl thumbnail tags conflict with that of easy_thumbnails, 
            which is used by OpenBlock. We're getting away with this only 
            because we put sorl.thumbnail first in INSTALLED_APPS, and 
            OpenBlock never uses the easy_thumbnails template tags.  In other 
            words, this code is teetering on the edge of a cliff of doom! :-O
            {% endcomment %}
            {% load thumbnail %}

            {% comment %}
            The URLs in our properties data are generally in all caps. Without
            using the |lower filter, sorl interprets the address relative to
            the internal MEDIA_ROOT. At this time the URLs in our data seem to 
            be case-insensitive.
            {% endcomment %}
            {% thumbnail newsitem.url|lower "240" as im %}
                <a href="{{ newsitem.url|lower }}"><img width="240" src="{{ im.url }}" /></a>
            {% empty %}
                {% if newsitem.url %}<a href="{{ newsitem.url }}">{% endif %}<img width="240" src="{{ STATIC_URL }}/images/property_image_placeholder.png" />{% if newsitem.url %}</a>{% endif %}
            {% endthumbnail %}
        </td>
    </tr>
{% endblock newsitem_detail_description %}<!-- endblock: newsitem_detail_description -->

<!-- block newsitem_detail_attribute_list -->{% block newsitem_detail_attribute_list %}
    {% for attribute in attribute_list %}
        <tr>
            <th>
                {{ attribute.sf.smart_pretty_name|capfirst }}
            </th>
            <td>
                {% if attribute.value_list %}
                    {% for value in attribute.value_list %}
                        {% if attribute.sf.name == 'prop_card' %}
                            <a href="{{ value.value }}">View property tax card on ColumbusCo.org</a>
                        {% else %}
                            {% if value.url %}
                                <a href="{{ value.url }}">{{ value.value }}</a>
                            {% else %}
                                {% if attribute.sf.name == 'sale_amount' %}${% endif %}
                                {% if attribute.sf.name == 'tax_value' %}${% endif %}
                                {{ value.value|intcomma|default:value.value }}
                            {% endif %}
                            {% if value.description %}<p>{{ value.description|safe }}</p>{% endif %}
                        {% endif %}
                        {% if not forloop.last %}{% if not value.description %}<br>{% endif %}{% endif %}
                    {% endfor %}
                {% else %}
                    None
                {% endif %}
            </td>
        </tr>
    {% endfor %}

{% endblock newsitem_detail_attribute_list %}<!-- endblock: newsitem_detail_image_list -->

