{# This snippet requires these variables: schema, newsitem_list #}
{% load openrural_tags %}

{% regroup newsitem_list by item_date as newsitem_list_byday %}

{% for newsitem_group in newsitem_list_byday %}
    <li class="newsitem">
        <ul>
            {% for newsitem in newsitem_group.list %}
                <li>
                    {% block newsitem_list_content %}
                        <span>
                            <a class="title" href="{{ newsitem.item_url}}">{{ newsitem.title|striptags|truncatechars:50 }}</a>
                        </span>
                        <span class="price">{% get_newsitem_full_address newsitem %}</span>
                    {% endblock newsitem_list_content %}
                </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
