from openrural.settings import *

DATABASES = {
    'default': {
        'NAME': 'openblock_devel',
        'USER': '',
        'PASSWORD': '',
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'OPTIONS': {},
        'HOST': '',
        'PORT': '',
        'TEST_NAME': 'test_openblock',
    },
}

# enable for local logging
# add 'gelf' to handlers for Graylog2 support
# LOGGING['handlers']['file'] = {
#         'level': 'DEBUG',
#         'class': 'logging.FileHandler',
#         'formatter': 'debug',
#         'filename': os.path.join(PROJECT_DIR, 'openrural.log'),
# }
# LOGGING['handlers']['gelf']['extra_fields']['environment'] = 'USERNAME-devel'
# LOGGING['loggers']['openrural'] = {'handlers': ['file'],
#                                    'level': 'DEBUG'}
# LOGGING['loggers']['ebpub'] = {'handlers': ['file'],
#                                'level': 'DEBUG'}
# LOGGING['loggers']['ebdata'] = {'handlers': ['file'],
#                                 'level': 'DEBUG'}
