{% extends "data_dashboard/base_dashboard.html" %}
{% load data_dashboard_tags %}

{% block title %}OpenRural: {{ scraper }}{% endblock %}

{% block content %}
<h1>{{ scraper }} Geocode Failures {% if run %}in Run {{ run.pk }}{% endif %}</h1>
<form class="scraper-search" action='' method='GET'>
    {{ form.search }}
   <input type="submit" value="Search" />
</form>
<table>
    <tr>
        <th>Date</th>
        <th>Location</th>
        {% if not run %}<th>Run</th>{% endif %}
        <th>Name</th>
        {% if request.user.is_authenticated %}<th>Fix in Admin</th>{% endif %}
    </tr>
    {% for geocode in geocodes %}
        <tr>
            <td>{{ geocode.date }}</td>
            <td><a href='{{ geocode.news_item.get_absolute_url }}'>{{ geocode.location }}</a></td>
            {% if not run %}<td><a href='{{ geocode.run.get_absolute_url }}'>{{ geocode.run }}</a></td>{% endif %}
            <td>{{ geocode.name }}</td>
            {% if request.user.is_authenticated %}
                <td>
                    <a href="{% url admin:db_newsitem_change geocode.news_item.id %}">Fix</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
