{% extends "base.html" %}
{% load data_dashboard_tags %}
{% load url from future %}

{% block fulltitle %}OpenRural: {{ scraper }}{% endblock %}

{% block content %}
<h1>{{ run.scraper }}</h1>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    {% for stat in stats %}
        <tr>
            <td>{{ stat.name }}</td>
            <td>{{ stat.value }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>Total Failures</td>
        <td><a href='{% url 'list_failures' run.scraper.slug run.pk %}'>{{ num_failures }}</a></td>
    </tr>
</table>
{% if run.status_description %}
<pre>
{{ run.status_description }}
</pre>
{% endif %}
<form action='' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Update Comment" />
</form>
{% endblock %}
